@import 'c64';

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 32px;
    border: 2em solid $mid-blue;
    font-family: "C64_Pro_Mono";
    position: absolute;
    width: calc(100% - 2em * 2);
    min-height: calc(100% - 2em * 2);
}

.align-center {
    text-align: center;
}

.input-slider {
    position: relative;
    display: inline-block;
    width: 30em;
    height: 1em;
    padding: 0;
    margin: 0;

    .filled {
        position: absolute;
        width: 0em;
        overflow: hidden;
    }

    .empty {
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    .ball {
        position: absolute;
        left: 0em;
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        width: 100%;
        height: 50px;
        left: 0;
        opacity: 0;
    }
}